.idea

target/
home/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### draw.IO ###
.$*
*.bkp
/scratches/http-client.private.env.json
